.login-page {
    --background: #f8f3ee;
    background-color: #f8f3ee;
    text-align: center;
}

.logo-section {
    padding: 30px 0;
}

.logo {
    width: 50%;
    max-width: 180px;
}

.auth-container {
    background: #2F3083;
    color: white;
    border-radius: 25px 25px 0 0;
    height: 100%;
    padding-top: 40px;
}

.welcome-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

.subtitle {
    font-size: 13px;
    color: #ccc;
    margin-bottom: 30px;
}

.input-container {
    display: flex;
    align-items: center;
    background: #2F3083;
    border: 1px solid #EDF2F8;
    border-radius: 8px;
    padding: 0 15px;
    margin: 15px auto;
    width: 90%;
    max-width: 380px;
    height: 50px;

    ion-icon {
        font-size: 20px;
        margin-right: 12px;
        color: white;
    }

    ion-input {
        --padding-start: 0;
        --color: #fff;
        --placeholder-color: #999;
        --placeholder-opacity: 1;
        font-size: 15px;
        text-align: left !important;
    }

    ion-input input {
        text-align: left !important;
    }

    .eye-icon {
        font-size: 20px;
        margin-right: 0;
        margin-left: 10px;
        cursor: pointer;
    }
}

.login-btn {
    --background: #EDF2F8;
    --color: #000;
    --border-radius: 8px;
    --box-shadow: none;
    font-weight: bold;
    width: 90%;
    max-width: 380px;
    margin: 30px auto 20px;
    height: 48px;
    font-size: 15px;
    text-transform: uppercase;
    display: block;
}

.footer-link {
    margin-top: 20px;
    color: #ccc;
    font-size: 14px;

    span {
      color: white;
      font-weight: bold;
      cursor: pointer;
      margin-left: 5px;
      text-decoration: underline;
    }
}
