:root {
    /* Light mode colors */
    --ion-background-color: #FAF4F1;
    --ion-text-color: #000000;
    --ion-card-background: #ffffff;
    --ion-toolbar-background: #f8f8f8;
    --ion-item-background: #ffffff;
}
